.footer-wrapper{
  width: 100%;
  background: linear-gradient(to right, #00b4db, #0083b0);
  height: 100px;
  margin-bottom: 0px;
  margin: 0px;
  padding: 0;
  margin-top: 15px;

  .item-footer{
    height: '100px';
    font-weight: bold;
    color: honeydew;
  }
}