.upload-wrapper{
  // background: yellow;
  .input-wrapper{
    margin-left: 0px;
    margin-right: auto;
    width: 250px;
    .button-upload{
      // margin-top: 0px;
      background: linear-gradient(to right, #00b4db, #0083b0);
      color:white;
    }
  }
}