.home-wrapper{
  // width: 1100px;
  // background-color: brown;

  .create-wrapper{
    // background-color: brown;
    width: 200px;
    margin-left: auto;
    margin-right: 0;
  }
  .content-wrapper{
    //
  }
}